@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



:root {
  font-family: "Poppins", sans-serif;
  height: 100%;

}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg,rgb(80, 117, 240), #0523e5);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Hover Effect */
/* ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg,rgb(240, 171, 80), #0523e5);
} */
html {
  scroll-behavior: smooth;
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


